OPENROUTER_API_KEY=
OPENAI_MODEL=openai/gpt-4o-mini
OPENROUTER_APP_NAME=Celina Chat

CELO_RPC_URL_MAINNET=https://forno.celo.org
ETH_RPC_URL_MAINNET=https://ethereum.publicnode.com

VITE_WALLETCONNECT_PROJECT_ID=
